* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
section {
  height: 100%;
}
section ul > li > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
section ul > li.slider {
  position: absolute;
  inset: 0;
  opacity: 0;
}
section .carousel {
  height: 100vh;
  width: 100%;
  background-color: aqua;
  position: relative;
}
.slider[data-active] {
  opacity: 1;
}
.car-btn {
  position: absolute;
  background: none;
  border: none;
  font-size: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 5px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.car-btn.next {
  right: 0px;
}
.car-btn:hover,
.car-btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.car-btn:focus {
  outline: 1px solid black;
}
